{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{%block title%}{%endblock%}</title>
    {%block style%}
    
    {%endblock%}
</head>

<body>
    <section class="first-section">
        <div class="first-container">
            <div class="logo-sapiens">
                <img src="{% static 'images/logo-10anos.png' %}" alt="logo 10 anos">
            </div>
            <div class="white-line"></div>
            <div class="logos">

                <img src="{% static 'images/logo-50anos-padronizada.png' %}" alt="logo unipe 50 anos">
                <img src="{% static 'images/logo-fabrica-padronizada.png' %}" alt=" logo fabrica de software">
            </div>
        </div>
    </section>

    {%block body%}


    {%endblock%}
    
</body>
</html>
