* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7FC;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    /* background: #07396C; */
}

.logo img {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
    /* background: red; */
}

.nav-links {
    display: flex;
    justify-content: space-around;
    /* width: 30%; */
}

.nav-links li {
    margin-left: 60px;
    list-style: none;
}

.nav-links a {
    color: #07396C;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    background-color: rgb(226, 226, 226);
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (min-width:1556px) {
    .wrapper-flex {
        /* width: 25%; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    .container {
        width: 25%;
    }
    nav {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width:768px) {
    body {
        /* position: relative; */
        overflow-x: hidden;
        /* width: 100%; */
    }
    nav {
        z-index: 4;
        position: fixed;
        width: 100%;
        background: #07396C;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #07396C;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 4;
    }
    .nav-links li {
        opacity: 0;
        margin-left: 0;
        align-items: center;
        justify-content: center;
        border-bottom: 0.5px solid white;
    }
    .nav-links a {
        font-size: 10px;
        color: #fff;
        /* text-decoration: underline; */
        align-items: center;
        justify-content: center;
    }
    .burger {
        display: block;
    }
    .logo img {
        max-width: 100px;
        max-height: 50px;
    }
    .wrapper {
        position: relative;
        overflow-x: hidden;
    }
    .wrapper-flex {
        padding: 0;
    }
    .container:first-child {
        margin-top: 50px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    z-index: -1;
}

.container {
    overflow: hidden;
    box-shadow: 0px 32px 64px 0px rgba(17, 17, 17, 0.08);
    border-radius: 10px;
    position: relative;
    width: 280px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    /* padding-bottom: 10px; */
}

.container a {
    color: #07396C;
    font-weight: 600;
    /* padding: 10px; */
}

.banner-img {
    position: absolute;
    /* background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
    height: 10rem;
    width: 100%;
    /* height: 191px; */
    /* width: 127px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive-img {
    height: 160px;
    width: 280px;
    object-fit: cover;
}

.profile-img {
    /* width: 8rem; */
    /* margin-top: 4.5rem; */
}

.info {
    /* width: 8rem; */
    margin-top: 4.5rem;
}

.name {
    color: #07396C;
    text-align: left;
    /* padding: 10px; */
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    text-align: left;
    /* padding: 10px; */
    font-size: 15px;
    color: #555555;
    margin: 10px 0;
}

.link {
    padding: 10px;
    color: #07396C;
    font-weight: 600;
}

.description-container {
    padding: 20px 20px;
    margin-top: 10rem;
}
