{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Tela Hall</title>
</head>

<body>
    <header>
        <!-- <div class="wrapper"> -->
        <nav>
            <div class="logo">
                <img id="logo" src="{% static '../static/images/logo.svg' %}" alt="logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'programacao' event.slug %}">PROGRAMAÇÃO</a></li>

                <li> <a href="{% url 'desopilar' event.slug %}">BORA DESOPILAR</a></li>

                {% for room in rooms %}
                <li> <a href="{% url 'days' event.slug room.slug %}">{{room.name}}</a> </li>
                {% endfor %}
                
                {% if request.user.is_superuser %}
                <li> <a href="http://127.0.0.1:8000/admin/">Sala do Administrador</a></li>
                {% endif %}

                <li><form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button  type="submit">Sair</button>
                </form></li>

                <li style="color: blue;">{{request.user}}</li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <!--</div> -->
    </header>

    <div class="hotspot"></div>

    <script>

        const rooms_names = [
            {% for room in rooms %}
            {
                'name': "{{room.name}}",
                'url': "{% url 'days' event.slug room.slug %}"
            },
            {% endfor %}
            {
                'name': "PROGRAMAÇÃO",
                'url': ""
            },
            {
                'name': "BORA DESOPILAR",
                'url': "{% url 'desopilar' event.slug %}"
            },
            {
                'name': "SAIDA",
                'url': "{% url 'desopilar' event.slug %}"
            },
        ]

    </script>

    <script src="../static/js/three.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/header.js"></script>
</body>

</html>
