{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{static 'images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="{% static 'css/hall.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.css' %}">

    <title>Hall</title>
</head>

<body>
    <header>
        <!-- <div class="wrapper"> -->
        <nav>
            <div class="logo">
                <img id="logo" src="{% static 'images/logo.svg' %}" alt="logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'programacao' event.slug %}">PROGRAMAÇÃO</a></li>

                <li> <a href="{% url 'desopilar' event.slug %}">BORA DESOPILAR</a></li>

                {% for room in rooms %}
                <li> <a href="{% url 'days' event.slug room.slug %}">{{room.name}}</a> </li>
                {% endfor %}
                
                {% if request.user.is_superuser %}
                <li> <a href="http://127.0.0.1:8000/admin/">Sala do Administrador</a></li>
                {% endif %}

                <li><form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button  type="submit">Sair</button>
                </form></li>

                <li style="color: blue;">{{request.user}}</li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <!--</div> -->
    </header>

    <div class="hotspot"></div>

    <script>

        const rooms_names = [
            {% for room in rooms %}
            {
                'name': "{{room.name}}",
                'url': "{% url 'days' event.slug room.slug %}"
            },
            {% endfor %}
            {
                'name': "BORA DESOPILAR",
                'url': "{% url 'desopilar' event.slug %}"
            },
            {
                'name': "SAIDA",
                'url': "{% url 'desopilar' event.slug %}"
            },
        ]

    </script>
    <!----- Alert pop-up ----->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/sweetalert2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>



    <script src="{% static 'js/three.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
</body>

</html>
