{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste1</title>
</head>
<body>
    <h1>teste1</h1>
    <p>Ops, parece que seu cpf está com algum problema</p>
    <a href="{% url 'account_signup' %}">Aperte aqui caso tenha digitado algo errado</a>
    <p>Caso contrário contate o moderador do site através do email sapiens@gmail.com para mais informações</p>  
</body>
</html>